{% extends 'dummy.html' %}

{% block title %}
<title>Home</title>
{% endblock %} 

{% block body_block %}
<style>
	body{
		font-size: 1em;
	}
	h1{
		margin: 70px 0 20px 0;
	}
	form{
		width: fit-content;
		box-shadow: -10px 10px 30px grey;
		border-radius: 20px;
		padding: 10px;
		transition: .5s;
		margin-bottom: 40px;
	}
	form:hover{
		box-shadow: 10px 10px 30px grey;
	}
	select{
		width: 100%;
		font-size: 1.1em;
	}
	input{
		font-size: 1.1em;
	}
	input[type="submit"]{
		padding: 10px 20px;
		font-size: 1.1em;
		border: none;
		background-color: black;
		color: white;
		border-radius: 20px;
		transition: .6s;
	}
	input[type="submit"]:hover{
		background-color: rgb(16, 70, 141);
		box-shadow: -10px 10px 20px black;
	}
	tr:not(input[type="submit"]){
		text-align: left;
	}
</style>
<center>
    <h1>Log In Form</h1>
    <form method="POST">
        {% csrf_token %}
        <table cellpadding="10">
            <tr>
                <td><label for="un">Username</label></td>
                <td><input type="text" name="un" id="un"></td>
            </tr>
            <tr>
                <td><label for="pw">Password</label></td>
                <td><input type="password" name="pw" id="pw"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Log In">
                </td>
            </tr>
        </table>
    </form>
</center>
{% endblock %} 
